<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StarMusic</title>
    

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/index.css">

<style type="text/css">
h2{font-size:50px; color:#ac3939}
</style>

</head>

<body>
    <header class="header">
      <div class="header-container">
        <div class="header-top">
           <a href="/" class="logo"></a>

         <nav class="header-nav">
           <ul>
           <li><a href="/" class="header-nav__cur">Music Hall</a></li>
           <li><a href="#">My Musics</a></li>
           <li><a href="#">Download Apps</a></li>
           <li><a href="#">VIP</a></li>
           </ul>
         </nav>
           
<div class="header-search">
  <input type="text" class="text" placeholder="Please enter keywords..">
  <div class="btn"><i class="icon-scrite"></i></div>
  <div class="result">
<a href="#" class="result-item">
              <span class="rank">1</span>
              <span class="title">Havana</span>
              <span class="num">34,000</span>
            </a>
            <a href="#" class="result-item">
              <span class="rank">2</span>
              <span class="title">Silence</span>
              <span class="num">31,000</span>
            </a>
            <a href="#" class="result-item">
              <span class="rank">3</span>
              <span class="title">Too Good At Goodbyes</span>
              <span class="num">30,000</span>
            </a>
            <a href="#" class="result-item">
              <span class="rank">4</span>
              <span class="title">Anywhere</span>
              <span class="num">26,000</span>
            </a>
            <a href="#" class="result-item">
              <span class="rank">5</span>
              <span class="title">Perfect</span>
              <span class="num">24,000</span>
            </a>
            <div class="history">
              <span>Search History</span>
              <i class="icon-sprite"></i>

</div>
</div>
</div>

<div class="header-login">
          <a href="/sin" class="login">Login</a>
          <a href="#" class="open-green">Become VIP</a>
          
        </div>
      </div>
      <ul class="header-subNav">
        <li><a href="#" class="subNav-cur">HOME</a></li>
        <li><a href="#">Singers</a></li>
        <li><a href="#">Album</a></li>
        <li><a href="#">Leaderboard</a></li>
        <li><a href="#">Category Song List</a></li>
        <li><a href="#">MV</a></li>
      </ul>
    </div>
  </header>

<div class="main" id="newSong">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i>NEW SONGS</i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <a href="#" class="readAll">All<i class="icon-sprite"></i></a>
      <div class="main-tab tab-title">
        <a href="javascript:;" class="item item-cur">All</a>
        <a href="javascript:;" class="item">Chinese</a>
        <a href="javascript:;" class="item">English</a>
        <a href="javascript:;" class="item">Korean</a>
        <a href="javascript:;" class="item">Japanese</a>
      </div>
<div class="main-slider tab-cont">
        <ul class="slider-wrapper">
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img1.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img2.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img3.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img4.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img1.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img2.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img3.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img4.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img1.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img2.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img3.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img4.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <a href="/list" target="_blank">Lonely Together</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/list" target="_blank" class="author">Avicii/Rita Ora</a>
            </div>
          </li>
        </ul>
        <div class="slider-btns">
          <span class="cur"><i></i></span>
          <span><i></i></span>
          <span><i></i></span>
        </div>
      </div>
    </div>
<div class="main-operate">
      <a href="javascript:;" class="slider-prev"><i class="icon-sprite"></i></a>
      <a href="javascript:;" class="slider-next"><i class="icon-sprite"></i></a>
    </div>
  </div>

 
  <div class="main" id="recommend">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i>RECOMMEND</i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <div class="carousel">
        <div class="carousel-slider">
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic1"><img src="static/images/cont/carousel_img1.jpg" alt="#"></a>
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic2"><img src="static/images/cont/carousel_img2.jpg" alt="#"></a>
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic3"><img src="static/images/cont/carousel_img3.jpg" alt="#"></a>
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic4"><img src="static/images/cont/carousel_img4.jpg" alt="#"></a>
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic5"><img src="static/images/cont/carousel_img5.jpg" alt="#"></a>
          <a href="http://www.bigtop40.com/songs/" target="_blank" class="item item-pic6"><img src="static/images/cont/carousel_img6.jpg" alt="#"></a>
        </div>
      </div>
    </div>
    <div class="main-operate">
      <a href="#" class="slider-prev"><i class="icon-sprite"></i></a>
      <a href="#" class="slider-next"><i class="icon-sprite"></i></a>
    </div>
  </div>
<div class="main" id="rank">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i>LEADERBOARD</i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <a href="#" class="readAll">ALL<i class="icon-sprite"></i></a>
      <ul class="rank-list">
        <li class="rank-list__item rank-list__1">
          <span class="rank-bg"></span>
          <span class="mask"></span>
          <i class="icon-play"></i>
          <div class="title">
            <i></i>
            <h3>Popularity</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            <li class="song-list__item">
             <a href="/list" target="_blank"><span>1</span>Havana (Live)</a>
              <span>Camila Cabello</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>2</span>Wolves (Live)</a>
              <span>Selena Gomez</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>3</span>Uptown Funk (Live)</a>
              <span>Cardi</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>4</span>Anywhere (Live)</a>
              <span>Rita Ora</span>
            </li>
          </ul>
        </li>
        <li class="rank-list__item rank-list__2">
          <span class="rank-bg"></span>
          <span class="mask"></span>
          <i class="icon-play"></i>
          <div class="title">
            <i></i>
            <h3>HOT Songs</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>1</span>Havana (Live)</a>
              <span>Camila Cabello</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>2</span>Wolves (Live)</a>
              <span>Selena Gomez</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>3</span>Uptown Funk (Live)</a>
              <span>Cardi</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>4</span>Anywhere (Live)</a>
              <span>Rita Ora</span>
            </li>
          </ul>
        </li>
        <li class="rank-list__item rank-list__3">
          <span class="rank-bg"></span>
          <span class="mask"></span>
          <i class="icon-play"></i>
          <div class="title">
            <i></i>
            <h3>NEW Songs</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>1</span>Thunder (Live)</a>
              <span>Imagine Dragons</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>2</span>Feel it Still (Live)</a>
              <span>Portugal. The Man</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>3</span>Mi Gente (Live)</a>
              <span>J Balvin</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>4</span>Sorry Not Sorry (Live)</a>
              <span>Demi Lovato</span>
            </li>
          </ul>
        </li>
        <li class="rank-list__item rank-list__4">
          <span class="rank-bg"></span>
          <span class="mask"></span>
          <i class="icon-play"></i>
          <div class="title">
            <i></i>
            <h3>American Songs</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>1</span>Perfect (Live)</a>
              <span>Ed Sheeran</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>2</span>Gucci Gang (Live)</a>
              <span>Lil Pump</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>3</span>Mi Gente (Live)</a>
              <span>J Balvin</span>
            </li>
            <li class="song-list__item">
              <a href="/list" target="_blank"><span>4</span>Feel It Still (Live)</a>
              <span>Portugal</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
 <div class="main" id="HOT Songs">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i>HOT LISTS</i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <div class="main-slider">
        <ul class="slider-wrapper">
          <li>
            <a href="/list" target="_blank" class="img">
              <img src="static/images/cont/slider_img1.jpg" alt="#">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">BIGBANG</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play Volume:1.79Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img2.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Bodak Yellow</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play Volume:1.42Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img3.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Too Good At Goodbyes</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.67Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img4.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Unforgettable</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.37Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img5.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Bad At Love</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.44Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img6.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">What About Us</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.82Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img7.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">New Rules</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.91Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img8.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">MotorSport</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.66Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img9.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Young Dumb & Broke</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.79Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img10.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Shape of You</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.43Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img11.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">Praying</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.53Million</a>
</div>
</li>
<li>
<a href="/list" target="_blank" class="img">
<img src="static/images/cont/slider_img12.jpg" alt="#">
<span class="mask"></span>
<i class="icon-play"></i>
</a>
<div class="info">
<div class="title">
<a href="/list" target="_blank">I Fall Apart</a>
<i class="icon-sprite"></i>
</div>
<a href="/list" target="_blank" class="author">Play volume:1.25Million</a>
</div>
</li>
</ul>
<div class="slider-btns">
<span class="cur"><i></i></span>
          <span><i></i></span>
          <span><i></i></span>
        </div>
      </div>
    </div>
    <div class="main-operate">
      <a href="javascript:;" class="slider-prev"><i class="icon-sprite"></i></a>
      <a href="javascript:;" class="slider-next"><i class="icon-sprite"></i></a>
    </div>
  </div>
<div class="main" id="mv">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i>MV PREMIERE</i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <a href="#" class="readAll">ALL<i class="icon-sprite"></i></a>
      <div class="main-tab tab-title">
        <a href="javascript:;" class="item item-cur">ALL</a>
        <a href="javascript:;" class="item">Chinese</a>
        <a href="javascript:;" class="item">English</a>
        <a href="javascript:;" class="item">Hong Kong and Taiwan</a>
        <a href="javascript:;" class="item">Korean</a>
        <a href="javascript:;" class="item">Japanese</a>
      </div>
<ul class="mv-list tab-cont">
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img1.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">Let Me Love You</a>
            <a href="/mv" target="_blank" class="author">Xijun Liu</a>
            <span class="play-total"><i class="icon-sprite"></i>133000</span>
          </div>
</li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img2.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">MotorSport</a>
            <a href="/mv" target="_blank" class="author">Migos/Nicki Minaj</a>
            <span class="play-total"><i class="icon-sprite"></i>145000</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img3.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">Shape of You</a>
            <a href="/mv" target="_blank" class="author">Ed Sheeran</a>
            <span class="play-total"><i class="icon-sprite"></i>121000</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img4.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">Praying</a>
            <a href="/mv" target="_blank" class="author">Kesha</a>
            <span class="play-total"><i class="icon-sprite"></i>147300</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img5.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">...Ready For It?</a>
            <a href="/mv" target="_blank" class="author">Taylor Swift</a>
            <span class="play-total"><i class="icon-sprite"></i>136000</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img6.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">The Way Life Goes</a>
            <a href="/mv" target="_blank" class="author">Lil Uzi Vert</a>
            <span class="play-total"><i class="icon-sprite"></i>172000</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img7.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">Slow Hands</a>
            <a href="/mv" target="_blank" class="author">Niall Horan</a>
            <span class="play-total"><i class="icon-sprite"></i>144000</span>
          </div>
        </li>
        <li class="item">
          <a href="/mv" target="_blank" class="img"><img src="static/images/cont/mv_img8.jpg" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/mv" target="_blank" class="title">Ghostface Killers</a>
            <a href="/mv" target="_blank" class="author">Savage/Offset</a>
            <span class="play-total"><i class="icon-sprite"></i>153900</span>
          </div>
        </li>
      </ul>
    </div>
  </div>






    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/script.js"></script>

</body>

</html>